body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-image: url("https://img.freepik.com/fotos-premium/paisagem-de-anime_950633-816.jpg");
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    background-attachment: fixed;
        }

        h1 {
            text-align: center;
            color: crimson;
        }

        #placar {
            font-size: 18px;
            margin-bottom: 10px;
	    color: blue;
        }

        #tabuleiro {
            border-collapse: collapse;
            margin-top: 20px;
        }

        td {
            width: 70px;
            height: 70px;
            border: 1px solid #000;
            text-align: center;
            font-size: 30px;
            cursor: pointer;
	    color: darkorange;
        }

        #mensagem {
            font-size: 18px;
            margin-top: 10px;
            color: orange;
        }

        #reiniciarBtn {
            margin-top: 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }

        #reiniciarBtn:hover {
            background-color: #45a049;
        }

	.vencedor {
	   background-color: yellow; /* Altere a cor conforme necessário */
	}
	footer {
	background-color: rgba(51, 51, 51, 0.5);
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
	bottom: 0;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
		margin: 0 10px;
	}

	a {
		color: #fff;
		text-decoration: none;
	}
